<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="dataSource">
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        <!-- Id Column -->
        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef mat-header>X</th>
          <td mat-cell *matCellDef="let row">{{row.x}}</td>
        </ng-container>

        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef mat-header>Y</th>
          <td mat-cell *matCellDef="let row">{{row.y}}</td>
        </ng-container>

        <ng-container matColumnDef="r">
          <th mat-header-cell *matHeaderCellDef mat-header>R</th>
          <td mat-cell *matCellDef="let row">{{row.r}}</td>
        </ng-container>

        <ng-container matColumnDef="createTime">
          <th mat-header-cell *matHeaderCellDef mat-header>Create time</th>
          <td mat-cell *matCellDef="let row">{{row.createTime}}</td>
        </ng-container>

        <ng-container matColumnDef="kill">
          <th mat-header-cell *matHeaderCellDef mat-header>Kill</th>
          <td mat-cell *matCellDef="let row">{{row.kill}}</td>
        </ng-container>
  </table>
</div>
