.reg {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 847px) {
  .right {
    display: none;
  }

  .left {
    display: none
  }
  .reg{
    justify-content: center;
  }
}

.right:hover, .left:hover {
  animation: krutilka 10s linear infinite;
}

@keyframes krutilka {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

