<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div>
        <div>
            <h4>Authenticate</h4>
            <button routerLink="/register" icon="pi pi-user" label="register">register</button>

        </div>
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" ngModel pInputText placeholder="Username"
                   type="text">
            <label for="password">Password</label>
            <input id="password" name="password" ngModel pInputText placeholder="Password"
                   type="password">
            <button [disabled]="loginForm.value.username == '' || loginForm.value.password == ''" class="w-full"
                    icon="pi pi-user" label="Sign In" pButton pRipple>send!
            </button>
        </div>
    </div>
</form>
